// *****************************
// +++++++ $TIPOGRAFIA ++++++
// *****************************

.banner__titulo{
    color: $colorBlanco;
    font-size: 3em;
}
.banner__nav{
    
}
.banner__nav__1 {
    color: $colorBlanco;
    text-decoration: none;
    font-size: 1.5em;
}
.banner__nav__2{
    color: $colorBlanco;
    text-decoration: none;
    font-size: 1.5em;
}
.banner__avatar{
    color: $colorBlanco;
    text-decoration: none;
    font-size: 1.5em;
    }
.centroPag__fotos{
    color: $colorBlanco;
    text-decoration: none;
    font-size: 1.5em;   
}